
html,body {
	height: 100%;
	background-color: #E9E9E9;
	margin: 0;
}

#header {padding-top:52px; background:#1d3887 url(../images/logo.png) no-repeat scroll 25px 10px; height: 15px;}


#content {
	margin: 20px;
}

#headerUserInfo {
	position: absolute;
	top: 8px;
	right: 50px;
	text-align: center;
	color: black;
}

#version-info {
	position: absolute; 
	top: 8px;
	right: 1px;
	color: silver;
	font-size: x-small;
}

.well-header {
	background: url("") repeat scroll 0 0 #A9B4BE;
	border-color: #A9B4BE;
	color: white;
	font-size: 16px;
	padding: 0px;
	padding-left: 10px;
	min-height: 5px;
	margin-bottom: 0px;
}

.table th {
	background-color: #E9E9E9;
}

.control-label {
	color: #737173;
}
/*
#productDescription {
	width: 500px;
}
#productPrice {
	position:relative;
	left:50px;
	width: 150px;
	font-size: 20pt;
	font-weight: bold;
}
#productImage {
	margin-top: 50px;
}
*/
#spinner {
	width: 50px;
	height: 50px;
	text-align: center;
	display: none;
}

